body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Thin */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Ultralight */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular / Roman */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("assets/fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}